{% extends "layout.html" %}

{% block content %}

<div class="container">



		Add an item to tab:
			<div class="row">

				

				<div class="col-sm-4">
					<input type="text" id="client_input" placeholder="Item" />
				</div>

				<div class="col-sm-`">
					<input type="text" id="ream_input" placeholder="Price" />
				</div>

				<div class="col-sm-1">

					<button id="submit_btn">
						Submit
					</button>
				
				</div>


			</div>

			<br>

			<div id="sales_container">
				<div class="row entry">
					<div class="col-sm-3">
						Waiter
					</div>
					<div class='col-sm-5'>
						Item
					</div>
					<div class='col-sm-2'>")
						Price
					</div>
				</div>

			</div>

</div>

<script src= "../static/waiter_sales.js">
</script>

<script>
        var clients = {{clients|tojson}} 
        var sales = {{sales|tojson}}
</script>

{% endblock %}