{% extends "layout.html" %}

{% block content %}

<div class="container">

   <div class ="larger center">
      Welcome {{username}}!
   </div>

   <div class="small-table tab" >
      1
   </div>

   <div class="large-table tab" >
      2
   </div>

   <br/>

   <div class="small-table tab" >
      3
   </div>
 
   <div class="large-table tab" >
      4
   </div>

   <br/>

   <div class="small-table tab">
      5
   </div>

   <div class="large-table tab" >
      6
   </div>

   <br/>

</div>



<script src= "../static/waiter_default.js">
</script>
{% endblock %}